main {
  min-height: calc(100vh - 140px);
}

.hero-section {
  min-height: 420px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.featured-slide {
  min-height: 420px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-card-image {
  height: 210px;
  object-fit: cover;
}
