<header class="border-bottom bg-body-tertiary">
  <nav class="navbar navbar-expand-lg container py-2">
    <a class="navbar-brand fw-bold" href="/">Asian Travel Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavigation"
      aria-controls="mainNavigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavigation">
      <ul class="navbar-nav ms-auto gap-lg-2">
        <li class="nav-item"><a class="nav-link" data-route="/" href="/">Home</a></li>
        <li class="nav-item" data-auth="guest"><a class="nav-link" data-route="/login" href="/login/index.html">Login</a></li>
        <li class="nav-item" data-auth="guest"><a class="nav-link" data-route="/register" href="/register/index.html">Register</a></li>
        <li class="nav-item d-none" data-auth="user"><a class="nav-link" data-action="logout" href="#">Logout</a></li>
        <li class="nav-item"><a class="nav-link" data-route="/admin" href="/admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link" data-route="/my-posts.html" href="/my-posts.html">My Posts</a></li>
        <li class="nav-item"><a class="nav-link" data-route="/favorites" href="/favorites">Favorites</a></li>
      </ul>
    </div>
  </nav>
</header>
